button {
    display: block;
    padding: 16px 32px;
    width: 240px;
    border: none;
}

.nav-bar {
    text-align: left;
    border: 3px #272d36 solid;
    height: 100%;
    width: 260px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.nav-button {
    display: in-block;
    border: 2px black solid;
    padding: 10px;
}

.nav-button:hover {
    background-color: aqua;
}


.nav-item {
    padding: 10px;
}
