button {
    display: block;
    padding: 16px 32px;
    width: 240px;
    border: none;
}

.nav-bar {
    border: 3px #272d36 solid;
    height: 100%;
    width: 260px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
}

.nav-button {
    background-color:  #485461;
    
    margin-bottom: 10px;
    padding: 10px;
    display: in-block;
    text-align: left;
    font-size: 25px;
    color: white;
    font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif; 
}

.nav-button:hover {
    background-color: #cccccc;
}


.nav-item {
    padding: 10px;
}
