.section {
    position: absolute;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    transform: translateX(-20px);
    transition: visibility 0s .12s linear , opacity .12s ease-in, transform .12s ease-in;
    overflow-x: hidden;
}

.section.is-shown {
    height: 100%;
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
    transition: visibility 0s 0s linear , opacity .36s ease-out, transform .36s ease-out;
}

/* .section-wrapper {
    position: relative;
    max-width: 740px;
    margin-left: 260px;
    padding: 2rem 2rem 1rem 2rem;
    border-bottom: 1px solid var(--color-border);
    border: 4px black solid;
  }
  @media (min-width: 940px) {
    .section-wrapper {
      padding-top: 4rem;
    }
} */